<mat-toolbar color="accent" class="footer-mobile-container">
    <button *ngFor="let el of footerConfig" class="footer-mobile-item" mat-button [routerLink]="el.routerUrl"
        style="flex: 1; line-height: 0px;">
        <mat-icon *ngIf="el.title==='cart'" class="footer-mobile-icon" fontSet="material-icons-outlined"
            matBadge="{{cartSvc.cart.length}}" matBadgePosition="above after" matBadgeColor="primary"
            matBadgeSize="small">{{ el.icon }} </mat-icon>
        <mat-icon *ngIf="el.title!=='cart'" class="footer-mobile-icon" fontSet="material-icons-outlined">{{ el.icon }}
        </mat-icon>
        <div class="footer-mobile-title" [ngSwitch]="el.title">
            <ng-container *ngSwitchCase="'home'" >{{"FOOTER_HOME"|translate}}</ng-container>
            <ng-container *ngSwitchCase="'catalogs'" >{{"FOOTER_CATALOGS"|translate}}</ng-container>
            <ng-container *ngSwitchCase="'cart'" >{{"FOOTER_CART"|translate}}</ng-container>
            <ng-container *ngSwitchCase="'account'" >{{"FOOTER_ACCOUNT"|translate}}</ng-container>
        </div>
    </button>
</mat-toolbar>