<mat-card [routerLink]="
        '/products/'+ productSimple.id
    " matRipple>
    <app-lazy-image [lazySrc]="getImageUrl(productSimple.imageUrlSmall)" [view]="'card'"></app-lazy-image>
    <mat-card-content>
        <div class="product-simple-desc">
            {{ productSimple.name }}
        </div>
        <div class="product-simple-price">
            &#36;{{ productSimple.lowestPrice.toFixed(2)  }}
        </div>
        <div class="product-simple-sale">
            {{"PRODUCT_SOLD"|translate}}
            &nbsp;{{ productSimple.totalSales===null ||productSimple.totalSales===undefined? 0 : productSimple.totalSales }}
        </div>
    </mat-card-content>
</mat-card>