<mat-toolbar color="accent" class="header-mobile-container" style="overflow: hidden;">
    <mat-icon (click)="navBack()" [ngStyle]="{'visibility':(onHomePage || onCatalogsSelect)?'hidden':''}">keyboard_backspace</mat-icon>
    <div *ngIf="!onSearchPage" class="search-mobile-container">
        <mat-icon [routerLink]="'search'" color="primary">search</mat-icon>
    </div>
    <mat-icon [ngStyle]="{'visibility':onProductList?'':'hidden'}" (click)="emitEvent()">filter_list</mat-icon>
</mat-toolbar>