<mat-card class="card-container-action" matRipple>
    <div style="margin-bottom: 8px; text-align:right">
        {{'ORDER_ID'|translate}} {{order.id}}
    </div>
    <div class="order-item-container">
        <div *ngFor="let el of order.productList" class="card-desc">
            {{ el.name }}
        </div>
    </div>
    <div *ngIf="order.productList.length >= 3" class="card-desc">
        ...
    </div>
    <div class="card-desc" >{{'TOTAL'|translate}} {{ order.paymentAmt.toFixed(2) }}</div>
    <div class="modify-card-btn">
        <button mat-button color="primary" class="card-btn"
            [routerLink]="order.id">{{order.orderState.indexOf('NOT_PAID')>-1?'PAY_NOW':'VIEW_DETAILS'|translate}}
        </button>
        <button mat-button color="primary" class="card-btn" (click)="deleteOrder()"
            >{{'DELETE_ORDER'|translate}}
        </button>
    </div>
</mat-card>