<mat-nav-list style="padding-top: 0px;">
    <mat-list style="padding-top: 0px;">
        <mat-list-item *ngIf="!topLevel" (click)="lastNavList()" class="catalog-list-item">
            <div
                style="display: flex;flex-direction: row; justify-content:space-between;align-items:center;width: 100%;">
                <p mat-line style="margin:0 0;">{{"GO_BACK"|translate}}</p>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngFor="let el of currentNodes let last = last" (click)="updateList(el)"
            class="catalog-list-item">
            <div
                style="display: flex;flex-direction: row; justify-content:space-between;align-items:center;width: 100%;">
                <p mat-line style="margin:0 0;">{{ el.name | titlecase }}</p>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-nav-list>